/* MAIN CONTAINER */

.main-container{
    margin-top: 100px;
    width: 80%; 
    max-width: 1200px; 
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3,auto);   
    
 }
 
 /* -------- */

 /* form-contact */

.contact-container{
    
    height: 600px;
    display: grid;
    grid-template-columns: 250px 500px;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
  
}

/* left side, details to contact me */

.texto-box{
    padding-left: 15px;
}

.contact-container .texto-box h3{
    color: #fff;
    font-size: 17px;
    font-weight: lighter;
}

.contact-container .texto-box h1{
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 10px;
}

.contact-container .texto-box p{
    color: #fff;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 16px;
}

.contact-container .texto-box .schudele{
    color: #16a085;
    font-weight: lighter;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-container .texto-box .phoneEmail{
    color: #D16969;
}

.contact-container .texto-box .last{
    margin-top: 35px;
}

/* right part of the emerge win */

.form-box .in-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.form-box .in-box span{
    height: 30px;
   
}

.form-box .in-box input{
    height: 50px;
    border: none;
    background: transparent;
    box-shadow: 2px 2px 10px rgba(245, 243, 243, 0.35);
    color: #fff;  
    
}

.form-box {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 20px;

}

.form-box .message-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

}

.form-box .message-box span{
    height: 30px;
}

.form-box .message-box textarea{
    height: 80px;
    background: transparent;
    box-shadow: 2px 2px 10px rgba(245, 243, 243, 0.35);
    border: none;
    color: #fff;

}

/*button to send */

.form-box .box-button{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

}


.box-button{
    width: 100%;

}

.box-button .cerrar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #141414;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;

}

.box-button .cerrar:hover{
    background: #16a085;
}

/* animation --*/

.contact-container{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-in-out forwards;
}
 
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/**----*/

@media screen and (max-width: 710px){

    .main-container{
        grid-template-columns: auto;
  
    }

    .contact-container{
        height: auto;
        display: flex;
        flex-direction: column;
        width: 256px;  
    }

    .form-box {
        margin-top: 50px;
        display: flex;
        flex-direction: column;    
    }

    .contact-container .texto-box h1{
        font-size: 19px;
    }

    .contact-container .texto-box p{
        font-size: 14px;
    }

   
}